<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.test.mvp.com.svglistviewdemo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".present.DogRunAnimationTestActivity" />
        <activity android:name=".present.SmileFaceActivity" />
        <activity android:name=".present.PendulumActivity" />
        <activity android:name=".present.SVGPathActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".present.SearchActivity" />
        <activity android:name=".present.TestActivity"></activity>
    </application>

</manifest>